/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.question {
    background-color: #CCC;
    margin-top: 20px;
    padding: 10px;
}

input[type="radio"] {
    display: inline-block;
    width: 20%;
}

input[type="radio"]:checked {
    font-weight: bold;
}

label {
    display: inline-block;
    width: 75%;
}


/* .container2 {
    float: left;
    background-color: #ebebeb;
    margin: 0;

} */

.radio {
    float: left;
    color: #ffff00;
}


input[type="button"]{
    display: inline-block;
    margin:1% 1% 0 5%;
    color:white;
    float:left;
    background: #A9A9A9;
    list-style-type: none;
    padding: 5px 10px 6px;
    border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 2px solid #ffffff;
	    
   

}

button{
   display: inline-block;
    margin:1% 1% 0 40px;
    color:white;
    float:left;
    background: #A9A9A9;
    list-style-type: none;
    padding: 5px 10px 6px;
    border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 2px solid #ffffff;
        
}

#modulename{
    margin-bottom: 25px;
    font-weight: Bold;
    font-size: larger;
}

#moduletext{
    font-weight: 400;
    font-size: medium;
    margin-bottom: 10px;
}

#moduleMtext{
    font-weight: 400;
    font-style: italic;
    font-size: medium;
    margin-bottom: 10px;
}

