/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.question {
    background-color: #CCC;
    margin-top: 20px;
    padding: 10px;
}

input[type="radio"] {
    display: inline-block;
    width: 20%;
}

input[type="radio"]:checked {
    font-weight: bold;
}

label {
    display: inline-block;
    width: 75%;
}


.container2 {
    float: left;
    background-color: #ebebeb;
    margin: 0;

}

.radio {
    float: left;
    color: #ffff00;
}


input[type="button"]{
    display: inline-block;
    margin:1% 1% 0 5%;
    color:white;
    float:left;
    background: dimgray;
    list-style-type: none;
    padding: 5px 10px 6px;
    /*
        brukes ikke
        */
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor:pointer;
}
button{
    display: inline-block;
    color:white;
    margin:1% 1% 0 40px;
    background: dimgray;
    list-style-type: none;
    padding: 5px 10px 6px;
    /*
        brukes ikke
        */
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor:pointer;
}

#modulename{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: medium;
}

#moduletext{
    font-weight: 400;
    font-size:small;
    margin-bottom: 10px;
}

#moduleMtext{
    font-weight: 400;
    font-style: italic;
    font-size:small;
    margin-bottom: 10px;
}

