<!DOCTYPE html>

<html>

<head>
<title>Select Course</title>
</head>
<body>
	<script src="../js/jquery-1.10.1.min.js"></script>
	<script src="applogic.js"></script>
	<script src="course.js"></script>

	<p style="font-size: 40px" , style="font-family: Arial">Select
		Course</p>
	<p style="font-family: Arial">This is the page for courses. You can
		choose modules (level of difficulty) to each course from here. Info on
		this specific course will be available here.</p>


	<p>Here is a list of the courses</p>
	<form>
		<script>
		<!--how do we populate the site with buttons with the info from the courseData -->
			populate();
		</script>
	</form>


	<p>
		<input type="button" onclick="history.back();" value="Back">
	</p>
</body>
</html>






