<div id="header">
	<h2>CourseEditor</h2>
</div>
<div id="paragraf">
	<p>Here you can edit the different courses and make new courses</p>
	<p ><strong>To create a new course:</strong> write a name in the textfield and click "Create New Course" </p>

	<form action="">
		<div>
			Course Name:<br> <input type="text" name="Course Number">
			
		</div>
	</form>
	<a href="#/viewModuleedit"><button>Create New Course</button></a>
</div>

<div id="courselist">

	<p >Here is a <strong>list</strong> of the courses</p>
	<p> Choose a course to edit or view its containing modules</p>
	
	<ul>
		<li><a href="#/viewModuleedit"><button>Course 1</button></a></li>
		<li><a href="#/viewModuleedit"><button>Course 2</button></a></li>
		<li><a href="#/viewModuleedit"><button>Course 3</button></a></li>
		<li><a href="#/viewModuleedit"><button>Course 4</button></a></li>
		
	</ul>
</div>

<div id="button">
	<input type="button" onclick="history.back();" value="Back"> <a
		href="#/viewModule"><button>Modules</button></a>
</div>

</div>


