<div id="header">
	<h2>CourseEditor</h2>
</div>
<div id="paragraph">
	<p>Here you can edit the different courses and make new courses</p>
	<p>
		<strong>To create a new course:</strong> write a name in the textfield
		and click "Create New Course"
	</p>

	<form action="">
		<div>
			Course Name:<br> <input type="text" name="Course Number">

		</div>
	</form>
	<a href="#/view"><button>Create New Course</button></a>
</div>

<table class="table" id="courseTable">
	<tr>
		<th>Course</th>
		<th>Module</th>
	</tr>
</table>

<div id="button">
	<input type="button" onclick="history.back();" value="Back">
</div>

</div>



