<!-- <div id="header">
	<h2>CourseEditor</h2>
</div>
<div id="paragraph">
	<p>Here you can edit the different courses and make new courses</p>
	<p>
		<strong>To create a new course:</strong> write a name in the textfield
		and click "Create New Course"
	</p>

	<form action="">
		<div>
			Course Name:<br> <input type="text" name="Course Number">

		</div>
	</form>
	<a href="#/view"><button>Create New Course</button></a>
</div>

<table class="table" id="courseTable">
	<tr>
		<th>Course</th>
		<th>Module</th>
	</tr>
</table>

<div id="button">
	<input type="button" onclick="history.back();" value="Back">
</div>

</div> -->

<html>
<head>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="http://listjs.com/no-cdn/list.js"></script>
<!--<script src="js/courseedit.js" type="createCourse"></script>-->
<meta charset=utf-8 />
<title>Course list</title>
<h2>Course Editor</h2>
</head>
<body>

<div id="paragraph">
	<p>Here you can edit the different courses and make new courses</p>
	<p>
		<strong>To create a new course:</strong> write a name in the textfield
		and click "Add"
	</p>
<div id="course">
  <table>
    <thead>
      <tr>
        <th class="sort" data-sort="Course name">Course Name</th>
        <th class="sort" data-sort="number">Number</th>
        <th colspan="2">
          <input type="text" class="search" placeholder="Search courses" />
        </th>
      </tr>
    </thead>
    <tbody class="list">
      <tr>
        <td class="id" style="display:none;">1</td>
        <td class="name">Course1</td>
        <td class="number">1</td>
        <td class="edit"><button class="edit-item-btn">Edit</button></td>
        <td class="remove"><button class="remove-item-btn">Remove</button></td>
      </tr>
      <tr>
        <td class="id" style="display:none;">2</td>
        <td class="name">Course2</td>
        <td class="number">2</td>
        <td class="edit"><button class="edit-item-btn">Edit</button></td>
        <td class="remove"><button class="remove-item-btn">Remove</button></td>
      </tr>
    </tbody>
  </table>
  <table>
    <td class="name">
      <input type="hidden" id="id-field" />
      <input type="text" id="name-field" placeholder="Create new course" />
    </td>
    <td class="nubmer">
      <input type="text" id="number-field" placeholder="Course number" />
    </td>
    <td class="add">
      <button id="add-btn">Add</button>
      <button id="edit-btn">Edit</button>
    </td>
  </table>
</div>
<script src="courseedit.js"></script>
<!-- 
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js"></script>
<body>
    
The "ui-field-contain" class style labels and form controls properly based upon the width of the page. If the width is less then 480px the label will be palced on above the form element
    
<div data-role="page">
  <div data-role="main" class="ui-content">
    <form method="post" id="myFrom"action="">
      <fieldset data-role="collapsible" data-theme="b" data-content-theme="a">
        <legend>Add new course</legend>
      <div class="ui-field-contain">
        
         <label for="domain">Course name:</label>
          <input type="hidden" id="id"/>
          <input type="text" name="domain" id="domain" data-clear-btn="true"/>
         <label for="level">Course level:</label>
           <input type="text" name="level" id="level" data-clear-btn="true"/>
         <label for="descriptiveText">Descriptive Text:</label>
           <input type="text" name="descriptiveText" id="descriptiveText" data-clear-btn="true"/>
        <label for="module">Select how many modules the course wil contain:</label>
        <select name="module" id="module" multiple="multiple" data-native-menu="false">
          <option>Module</option>
          <option value="mod1">Module 1</option>
          <option value="mod2">Module 2</option>
          <option value="mod3">Module 3</option>
          <option value="mod4">Module 4</option>
          <option value="mod5">Module 5</option>
          <option value="mod6">Module 6</option>
          <option value="mod7">Module 7</option>
        </select>
      </div>
      <input type="submit" onclick="myFunction()" data-inline="true" value="Submit"/>
          </fieldset>
    </form>
  </div>
</div>
</body>
 -->

</body>
</html>
