<div class="container">
		<h2>Module Editor</h2>

		<table class="table">
			<tr>
				<th>Number</th>
				<th>Name</th>
				<th>Delete</th>
				<th>Edit<th>
			</tr>
			<c:forEach items="${module}" var="m">
				<tr>
					<td>${m.courseCode}</td>
					<td>${m.name}</td>
					<td><a
						href="${pageContext.request.contextPath}/module/${m.id}/delete">Delete</a></td>
				<td><a
						href="${pageContext.request.contextPath}/module/${m.id}/delete">Edit</a></td>
				</tr>
				
			</c:forEach>
		</table>
	</div>

	<div class="container">
		<h2>Create module:</h2>
		<form name="input"
			action="${pageContext.request.contextPath}/module/new" method="post">
			<table class="table">
				<tr>
				<!-- 	<td>Module number:</td>
					<td><input class="form-control" type="text" name="coursecode"
						placeholder="Module number"></input></td>
				</tr> -->
				<tr>
					<td>Module name:</td>
					<td><input class="form-control" type="text" name="name"
						placeholder="Module name" /></td>
				</tr>
				<tr>
					<td>Module information:</td>
					<td><input class="form-control"  type="text" name="name" 
						placeholder="Module info" /></td>
				</tr>
				<tr>
					<td></td>
					<!-- Her trykker man pŒ knappen nŒr man er ferdig Œ lage modul for Œ sendes videre til quiz -->
					<!--  <td><input  class="btn btn-primary" type="submit" value="Create new Quiz" /></td>-->
					<!-- <a href="#/quizedit"</a>  ng-click="" -->
					<td><a href="#/viewQuizedit"><button>Create new Quiz</button></a></li></td>
				</tr>
			</table>
		</form>
	</div>
