<div id="header">
	<h2>Quiz Editor</h2>
</div>
<div id="paragraf">
	<p>
		<strong>Create your quiz!</strong>
	</p>
	<p>
		Write as many questions as you like. When you are finished with a
		question click <strong>Next</strong> to create a new question
	</p>
	<p>
		or <strong>Done</strong> to finish the quiz.
	</p>
	<p>You can choose from the different types of answers you wish from
		the menu on the right side of the question field.</p>
	<p>
		<strong>Describe</strong> your question carefully. The quiz-takers
		should be able to answer by multiple choice or by true/false
	</p>
	<p>
		<strong>To create a new course:</strong> write a name in the <strong>textfield</strong>
		and click "Create"
	</p>
</div>
<div id="textField">
	<textarea rows="5" cols="50">
Write your question here
</textarea>
<td><button>Create</button></td>
</div>